@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..700;1,400..700&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Inter", sans-serif;
  --color-gold-premium: #D4AF37;
  --color-dark-bg: #0a0a0a;
}

/* Custom Serif layout */
.serif {
  font-family: 'Playfair Display', "Playfair Display", Georgia, serif;
}

/* Luxury scrollbars */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(212, 175, 55, 0.3);
}

